<h1>Subs</h1>
<ul>
<% @subs.each do |sub| %>
  <ul>
    <li><a href="<%=sub_url(sub)%>"><%=sub.title%></a> - <%= sub.description %></li>
  </ul>
    
<% end %>
</ul>

<a href="<%= new_sub_url %>">New Sub</a>